body {
  background-color: black;
}

.nav1 {
  background-color: red;
}

.nav1 ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.nav1 li:last-child {
  border-right: none;
}

.nav1 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 800;
}

.nav1 li a:hover:not(.active) {
  color: rgb(37, 28, 28);
}

.nav2 ul {
  list-style-type: none;
  align-items: center;
  margin: 0;
  overflow: hidden;
  background-color: white;
}

/* .nav2edited {
  display: flex;
  flex-direction: row;
} */

.nav2edited {
  width: 20%;
  padding-left: 39px;
}

.nav2 li:last-child {
  border-right: none;
}

.nav2 li a {
  display: block;
  color: rgb(37, 28, 28);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav2 li a:hover:not(.active) {
  /* background-color: #111; */
  color: #ff0000;
}

.active {
  background-color: #04aa6d;
}

.bag1 {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-direction: row;
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.bag1 img {
  width: 400px;
  height: 320px;
  padding-right: 80px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pagebag1 p {
  width: 80%;
  display: grid;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pagebag1 h3 {
  color: #ff0000;
}

.bag2 {
  color: white;
  text-align: center;
}

.bag3 {
  margin: 90px;
  color: white;
}

.h1 {
  text-align: center;
}

.bag3page1 {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* flex-direction: column; */
}

/* .bag3page1 img {
  width: 60%;
} */

.bag3page2 {
  display: flex;
  padding-top: 50px;
  /* justify-content: space-around; */
  /* flex-direction: row; */
}

.bag3page2 img {
  width: 60%;
}

/* .gambar {
  width: 60px;
  height: 40px;
} */

.canterFE74 {
  width: 60%;
}

.newPajeroSport {
  width: 60%;
}

.canterFE75 {
  width: 60%;
}

footer {
  padding: 20px 90px 20px 90px;
  background-color: rgb(26, 59, 92);
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.contact a {
  color: yellow;
}

.contact {
  color: white;
}

.dealer {
  color: white;
}

/* responsive */

.grid-container {
  display: grid;
}

div.contentGallery {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .nav1 {
    order: inherit;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  body {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .nav1 li {
    font-size: 7px;
    padding: 0;
    margin: 0;
    display: grid;
  }
  .nav2 li {
    margin: 0;
    padding: 0;
    font-size: 8px;
    display: flex;
  }
  .navDown {
    display: flex;
    justify-content: space-between;
  }
  .navDown img {
    display: none;
  }
  .bag1 {
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .container {
    width: auto;
    padding: 0;
  }

  .bag3page1 {
    order: -1;
    grid-template-columns: 1fr;
  }
  .bag3page1 h2 {
    padding-top: 10px;
    font-size: large;
  }
  .bag3page1 h3 {
    font-size: small;
  }
  .bag3page2 h2 {
    padding-top: 10px;
    font-size: large;
  }
  .bag3page2 h3 {
    font-size: small;
  }
  .pagebag1 {
    text-align: left;
    grid-template-columns: 1fr;
    justify-content: center;
    width: auto;

    /* text-align: center; */
  }
  .pagebag1 h1 {
    text-align: left;
    font-size: xx-large;
  }
  .pagebag1 p {
    text-align: left;
    font-size: small;
  }
  .page2bag2 img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: auto;
  }
  .bag2 {
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
  }
  .bag3 {
    text-align: center;
    width: auto;
  }

  .bag4 {
    text-align: center;
    width: auto;
    background-color: grey;
    padding: 35px 0 35px 0;
  }

  .color4 {
    background-color: grey;
  }

  .mobil1 {
    padding-bottom: 55px;
  }
  .mobil2 {
    padding-bottom: 55px;
  }
  footer h2 {
    font-size: x-large;
  }
  footer h4 {
    font-size: medium;
  }
  footer p {
    font-size: small;
  }
  .dealer h2 {
    font-size: medium;
  }
  .dealer h4 {
    font-size: small;
  }
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}
